environment: production
environmentCode:
name: ffc-pay-report-generator
namespace: ffc-pay
workstream: ffc-pay
image: ffc-pay-report-generator

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-pay-report-generator-config-map

containerSecret:
  name: ffc-pay-report-generator-container-secret
  type: Opaque

container:
  nodeOptions: --max-old-space-size=8192
  requestMemory: 800Mi
  requestCpu: 800m
  limitMemory: 5500Mi
  limitCpu: 4500m
  azureStorageConnectionString: dummy
  azureStorageUseConnectionString: false
  azureStorageAccountName: ffcpay

workloadIdentity: true

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

cronJob:
  schedule: "0 */2 * * *"
  concurrencyPolicy: Forbid
  restartPolicy: Never
  successfulJobsHistoryLimit: 1
